<script>
  import { slide } from "svelte/transition";

  let showMobileMenu = false;
</script>

<svelte:head>
  <title>Sweetcrafted Bakery</title>
  <meta name="description" content="Sweetcrafted is a small town bakery that offers homemade treats, custom cakes, gluten-free options, and friendly service. Order online or visit us today!">
</svelte:head>

<div class="text-gray-900 bg-white dark:bg-slate-900 dark:text-white">
  <nav class="z-10 text-white bg-gray-800">
    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="flex relative justify-between items-center h-16">
        <div class="flex absolute inset-y-0 left-0 items-center sm:hidden">
          <!-- Mobile menu button -->
          <button
            type="button"
            class="inline-flex justify-center items-center p-2 text-gray-400 rounded-md hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu"
            aria-expanded="false"
            on:click={() => (showMobileMenu = !showMobileMenu)}
          >
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
      
              Menu open: "hidden", Menu closed: "block"
            -->
            {#if showMobileMenu == false}
              <svg
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            {:else}
              <!--
              Icon when menu is open.
      
              Menu open: "block", Menu closed: "hidden"
            -->

              <svg
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            {/if}
          </button>
        </div>
        <div
          class="flex flex-1 justify-center items-center sm:items-stretch sm:justify-start"
        >
          <div class="flex flex-shrink-0 items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="mr-2 h-8 text-indigo-500"
              viewBox="0 0 24 24"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 13.87A4 4 0 0 1 7.41 6a5.11 5.11 0 0 1 1.05-1.54a5 5 0 0 1 7.08 0A5.11 5.11 0 0 1 16.59 6A4 4 0 0 1 18 13.87V21H6ZM6 17h12"
              />
            </svg>
            <span class="text-lg font-semibold">Sweetcrafted</span>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a
                href="#"
                class="px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-md"
                aria-current="page"
                >Home
              </a>
              <a
                href="#"
                class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
                >Menu
              </a>
              <a
                href="#"
                class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
                >Catering
              </a>
              <a
                href="#"
                class="px-3 py-2 text-sm font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
                >Specials
              </a>
            </div>
          </div>
        </div>
        <div
          class="flex absolute inset-y-0 right-0 items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
        >
          <button
            class="flex items-center px-3 py-1 ml-3 text-xs font-medium leading-5 text-indigo-300 rounded-full bg-indigo-400/10 hover:bg-indigo-400/20"
            >Order Now
            <svg
              width="3"
              height="6"
              class="overflow-visible ml-3 text-indigo-400"
              aria-hidden="true"
              ><path
                d="M0 0L3 3L0 6"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              /></svg
            >
          </button>
        </div>
      </div>

      {#if showMobileMenu == true}
        <!-- Mobile menu, show/hide based on menu state. -->
        <div
          class="{showMobileMenu == false ? 'hidden' : ''} {showMobileMenu ==
          true
            ? 'block'
            : ''} sm:hidden"
          id="mobile-menu"
          transition:slide
        >
          <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href="#"
              class="block px-3 py-2 text-base font-medium text-white bg-gray-900 rounded-md"
              aria-current="page">Home</a
            >
            <a
              href="#"
              class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
              >Menu</a
            >
            <a
              href="#"
              class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
              >Catering</a
            >
            <a
              href="#"
              class="block px-3 py-2 text-base font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white"
              >Specials</a
            >
          </div>
        </div>
      {/if}
    </div>
  </nav>

  <div class="isolate relative px-6 pt-2 lg:px-8">
    <div
      class="overflow-hidden absolute inset-x-0 -top-40 blur-3xl transform-gpu pointer-events-none -z-10 sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      />
    </div>
    <div class="py-10 mx-auto max-w-2xl sm:py-15 lg:py-20">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div
          class="relative px-3 py-1 text-sm leading-6 text-gray-600 rounded-full ring-1 dark:text-gray-400 ring-gray-900/10 dark:ring-gray-100/10 hover:ring-gray-900/20 dark:hover:ring-gray-100/20"
        >
          Exciting news! We're thrilled to announce the next chapter for our
          beloved bakery.
          <a href="#" class="font-semibold text-indigo-600 dark:text-indigo-400">
            <span class="absolute inset-0" aria-hidden="true" />Read more
            <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">
          Satisfy your cravings with our homemade treats
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-400">
          At our small town bakery, we take pride in our homemade baked goods.
          From cakes to cookies, we have something for everyone. Come in and
          indulge in our delicious treats!
        </p>
        <div class="flex gap-x-6 justify-center items-center mt-10">
          <a
            href="#"
            class="px-3.5 py-2.5 text-sm font-semibold text-white bg-indigo-600 rounded-md shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Explore our menu
          </a>
          <a href="#" class="text-sm font-semibold leading-6">
            Learn more <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)] pointer-events-none"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      />
    </div>
  </div>
</div>

<div
  class="py-10 text-gray-900 bg-white dark:bg-slate-900 dark:text-white sm:py-15"
>
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2
        class="text-base font-semibold leading-7 text-indigo-600 dark:text-indigo-400"
      >
        Order with ease and speed
      </h2>
      <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
        We make it easy for you to get your hands on our treats.
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-400">
        Whether you visit us in-store or order online, we guarantee a seamless
        experience.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid grid-cols-1 gap-x-8 gap-y-10 max-w-xl lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7">
            <div
              class="flex absolute top-0 left-0 justify-center items-center w-10 h-10 bg-indigo-600 rounded-lg"
            >
              <svg
                class="w-6 h-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m9 9l5 12l1.774-5.226L21 14L9 9zm7.071 7.071l4.243 4.243M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"
                />
              </svg>
            </div>
            Order online
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 dark:text-gray-400">
            Satisfy your cravings from the comfort of your own home. Browse our
            online menu and place your order with just a few clicks.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7">
            <div
              class="flex absolute top-0 left-0 justify-center items-center w-10 h-10 bg-indigo-600 rounded-lg"
            >
              <svg
                class="w-6 h-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  ><path d="M20 21v-8a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v8" />
                  <path
                    d="M4 16s.5-1 2-1s2.5 2 4 2s2.5-2 4-2s2.5 2 4 2s2-1 2-1M2 21h20M7 8v2m5-2v2m5-2v2M7 4h.01M12 4h.01M17 4h.01"
                  />
                </g>
              </svg>
            </div>
            Custom cakes
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 dark:text-gray-400">
            Make your special day even sweeter with our custom cakes. Our
            talented bakers will work with you to create the perfect cake for
            any occasion.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7">
            <div
              class="flex absolute top-0 left-0 justify-center items-center w-10 h-10 bg-indigo-600 rounded-lg"
            >
              <svg
                class="w-6 h-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <path
                    d="m2 22l10-10m4-4l-1.17 1.17M3.47 12.53L5 11l1.53 1.53a3.5 3.5 0 0 1 0 4.94L5 19l-1.53-1.53a3.5 3.5 0 0 1 0-4.94ZM8 8l-.53.53a3.5 3.5 0 0 0 0 4.94L9 15l1.53-1.53c.55-.55.88-1.25.98-1.97m-.6-6.24c.15-.26.34-.51.56-.73L13 3l1.53 1.53a3.5 3.5 0 0 1 .28 4.62M20 2h2v2a4 4 0 0 1-4 4h-2V6a4 4 0 0 1 4-4Z"
                  />
                  <path
                    d="M11.47 17.47L13 19l-1.53 1.53a3.5 3.5 0 0 1-4.94 0L5 19l1.53-1.53a3.5 3.5 0 0 1 4.94 0ZM16 16l-.53.53a3.5 3.5 0 0 1-4.94 0L9 15l1.53-1.53a3.49 3.49 0 0 1 1.97-.98m6.24.6c.26-.15.51-.34.73-.56L21 11l-1.53-1.53a3.5 3.5 0 0 0-4.62-.28M2 2l20 20"
                  />
                </g>
              </svg>
            </div>
            Gluten-free options
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 dark:text-gray-400">
            We believe everyone should be able to enjoy our baked goods. That's
            why we offer gluten-free options for our customers with dietary
            restrictions.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7">
            <div
              class="flex absolute top-0 left-0 justify-center items-center w-10 h-10 bg-indigo-600 rounded-lg"
            >
              <svg
                class="w-6 h-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  ><circle cx="12" cy="12" r="10" /><path
                    d="M8 14s1.5 2 4 2s4-2 4-2M9 9h.01M15 9h.01"
                  /></g
                >
              </svg>
            </div>
            Friendly service
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600 dark:text-gray-400">
            We pride ourselves on providing friendly and welcoming service. We
            love getting to know our customers and making their day a little bit
            sweeter.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<footer
  class="flex flex-col justify-between items-center px-4 py-10 text-gray-900 bg-indigo-100 dark:bg-slate-950 sm:px-20 lg:grid lg:grid-cols-2 lg:gap-4"
>
  <div class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-14">
    <div class="flex flex-col space-y-2">
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mr-1 text-indigo-500"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 13.87A4 4 0 0 1 7.41 6a5.11 5.11 0 0 1 1.05-1.54a5 5 0 0 1 7.08 0A5.11 5.11 0 0 1 16.59 6A4 4 0 0 1 18 13.87V21H6ZM6 17h12"
          />
        </svg>
        <span class="text-xl font-bold text-indigo-900 dark:text-indigo-500">Sweetcrafted</span>
      </div>
      <div class="font-mono text-gray-600 dark:text-gray-400">
        <p>123 Main Street</p>
        <p>(123) 456-7890</p>
        <p>info@example.com</p>
      </div>
    </div>
    <div class="flex flex-col space-y-2 dark:text-gray-400">
      <h2 class="text-lg font-bold text-indigo-900 dark:text-indigo-500">Opening Hours</h2>
      <p>Mon-Fri: <span class="font-semibold">8am - 6pm</span></p>
      <p>Sat-Sun: <span class="font-semibold">10am - 4pm</span></p>
    </div>
  </div>
  <div
    class="flex flex-col items-center mt-5 space-y-4 w-full md:space-y-0 md:space-x-4 lg:mt-0"
  >
    <!-- <div class="flex flex-col space-y-2">
      <h2 class="text-lg font-bold text-indigo-900">Menu</h2>
      <a href="#" class="cursor-pointer hover:underline hover:text-indigo-900">
        Bread
      </a>
      <a href="#" class="cursor-pointer hover:underline hover:text-indigo-900">
        Cake
      </a>
      <a href="#" class="cursor-pointer hover:underline hover:text-indigo-900">
        Pastry
      </a>
      <a href="#" class="cursor-pointer hover:underline hover:text-indigo-900">
        Coffee
      </a>
    </div> -->
    <div class="flex flex-col space-y-2">
      <h2 class="text-lg font-bold text-indigo-900 dark:text-indigo-500">Newsletter</h2>
      <p class="dark:text-gray-400">Subscribe to get our latest news and offers.</p>
      <form action="#" method="post" class="flex space-x-2">
        <div class="relative w-full">
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            class="block p-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 ring-offset-2 focus:ring dark:ring-offset-slate-950 focus:ring-blue-300 dark:focus:ring-blue-700/50 focus:border-blue-500 focus:outline-none dark:bg-gray-900 dark:border-gray-800 dark:placeholder-gray-400 dark:text-white"
          />
          <button
            class="absolute right-2.5 bottom-2.5 px-4 py-2 text-sm font-medium text-white bg-indigo-700 rounded-lg ring-offset-2 hover:bg-indigo-800 focus:ring-2 focus:outline-none focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-400/50 dark:ring-offset-gray-900"
            type="submit"
          >
            Subscribe
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>
